
main.fls
main.fdb_latexmk
main.aux
main.log
main.out
main.toc
main.synctex.gz
*.fls
*.out
*.nav
*.log
*.snm
*.gz
*.toc
*.fdb_latexmk
*.aux
*.vrb
*.synctex(busy)
Lectures 20-21/11_LRIC _26-28_10_2020.pdf
Lectures 20-21/Consideration _about LAb.pdf
Lectures 20-21/9_LRIC _21_10_2020.pdf
Lectures 20-21/8_LRIC _20_10_2020.pdf
Lectures 20-21/7_LRIC _14-19_10_2020.pdf
Lectures 20-21/6_LRIC _13_10_2020.pdf
Lectures 20-21/5_LRIC _12_10_2020.pdf
Lectures 20-21/4_LRIC _07_10_2020.pdf
Lectures 20-21/3_LRIC _06_10_2020.pdf
/Lectures 20-21
